<!DOCTYPE html>
<html  lang="en" data-bs-theme="dark">
    <head>
        <title>All Links</title>
    </head>

    <body>
        <a href="/">Index Page</a>
        <br>
        <a href="/all_links_test_temp">All Links Temp Page</a>
        <br>
        <a href="/login_page">Login Page</a>
        <br>
        <a href="/reg_page">Registration Page</a>
        <br>
        <a href="/dashboard">Dashboard Page</a>
        <br>
        <a href="/">Index Page</a>
        <br>
        <a href="/logout">Logout</a>
        <br>
        <h1>All Links Temp Page</h1>

    </body>



</html>
